<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Cliente</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="clienteMesero.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="cc-container">
            <span class="cc-label">CC: </span>
            <input type="text" id="cc-input" placeholder="Ingrese la cedula">
        </div>
        <div class="cc-container">
            <span class="cc-label">Nombre: </span>
            <input type="text" id="cc-input" placeholder="Ingrese el nomre">
        </div>
        <a href="Mesero_INICIO.html">
            <button class="send-button">Enviar</button>
        </a>
    </div>
</body>
</html>